/*
Colors used:
#BAD0C4 (Sage Green);
#9FBCAB (Dark Sage Green)
#9B9A9A (Light Grey);
#595A5B (Medium Grey);
#414042 (Dark Grey)
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffe4c4;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.55);
  position: relative;
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type:none;
  padding: 60;
  padding-top: 85px;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #9b9a9a;
}

nav>ul>li>a:hover {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
}

nav>ul>li>a:active {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #bad0c4;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

h4 {
  font-size: 0.75em;
  font-weight: 400;
}

body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #595a5b;
  text-align: left;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #bad0c4;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #9b9a9a;
}

a:hover,
a:focus {
  color: #414042;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #bad0c4;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #bad0c4;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 3px;
  border-radius: 3px;
  border-bottom: 2px solid #9fbcab;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: bold;
}

.button:active {
  /* selected link */
  color: #bad0c4;
}

/* Layout styling */
.container {
  text-align: center;
  /* Centers text */
  max-width: 1200px;
  padding: 15px 15px;
}

.row {
  text-align: left;
  /* Centers text */
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
#work .row {
  text-align: center;
  /* Centers text */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  text-align: center;
  /* Centers text */
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero span {
  display: block;
}

#skills {
  text-align: center;
  /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#about {
  text-align: center;
  /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#footer {
  text-align: center;
  /* Centers text */
  background-color: #ffffe0;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0 15px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: left;
    font-size: 18px;
    padding: 20px 0 13px;
  }
  .col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px
}

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}
#about h3 { margin-top: 0;}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: left;
    font-size: 18px;
    padding: 20px 0 13px;
  }
  .col-md-6 {
  width: 60%;
  }
  .col-lg-7 {
  width: 40%;
  }
  [class*="col-"] {
  float: left;
  padding: 10px
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #about h3 { margin-top: 0;}
}
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
